apiVersion: apps/v1
kind: Deployment
metadata:
  name: insecure-app
  namespace: podsec-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: insecure
  template:
    metadata:
      labels:
        app: insecure
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
